html,
body {
  overflow-x: hidden;
  margin: 0px;
}

header {
  
}


#skills {

  text-align: center;

}

#main-wrapper {

} 

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgba(244, 248, 248, 0.966);
}


#header-wrapper {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: #6420a3;
  padding: 25px;
}

#contact-form {
  position: relative;
  text-align: center;

}

.container {
  background-image: url("https://github.com/KirsiTikkanen/ktportfolio2021/blob/main/assets/images/frontpage-image-mountain-ver2.jpg?raw=true");
  background-repeat: no-repeat;
  text-align: center;
  height: auto;
  min-height: 600px;
  max-width: 100%;
  padding-top: 100px;
  padding-left: 15px;
}



/* White header on top of image */
#white-frontpage-header {
  letter-spacing: 3px;
  line-height: 1.1;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 40px;
  display: inline-flex;
}


.white-h2 {
  color: #ffffff;
}

h2 {
  font-size: 30pt;
  letter-spacing: 2px;
  margin-bottom: -4px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 600px;
  display: inline-block;
}


.color-h2 {
  color: #6420a3;
  text-align: center;
}

p {
  font-size: 12pt;
  line-height: 1.6;
  text-align: center;
  align-content: center;
  color: #6420a3;
  max-width: 600px;
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
}

.p-text-wrap {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.white-p {
  color: #ffffff;
}

li {
  font-size: 12pt;
  text-align: left;
  color: #6420a3;
  list-style: bullet;
  margin: 15px;
}

article {
  margin-bottom: 0px;
  margin-top: 0px;
}

#box-text-wrap {
  padding-top: 50px;
  padding-bottom: 80px;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  background-color: #6420a3;
  color: rgb(242, 242, 248);
}

#footer-wrapper {
  color: #6420a3;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
}

/* Buttons */

.button1 {
  display: inline-block;
  border-bottom: 2px solid #ffffff;
  text-decoration: none;
  padding: 3px;
  color: #ffffff;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

.button1:hover {
  color: #6420a3;
  background-color: #ffffff;
  
  
}

.button2 {
  display: inline-block;
  border-bottom: 2px solid #6420a3;
  color: #6420a3;
  text-decoration: none;
  padding: 4px;
  color: 612683;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}

.button2:hover {
  color: #ffffff;
  background-color: #6420a3;
}

.button3 {
  display: inline-block;
  text-decoration: none;
  padding-right: 20px;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}

.button3:hover
{
  color: #4ad0f1;
}

#about-me
{
  display:flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  margin-top: 20px;
  
  
}

#profile-image {

  border-radius: 50%;
  max-width: 250px;
  padding-top: 20px;
  text-align: center;
  
}

#image-container {
  background-color: #d2c7d4;
  display:flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  padding-top: 50px;

}

/* Responsiveness */

/* If the screen size is 601px wide or more, set the font-size of <div> to 100px */
@media screen and (min-width: 601px) {
  div.white-frontpage-header {
    font-size: 100px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 50px */
@media screen and (max-width: 600px) {
  div.white-frontpage-header {
    font-size: 50px;
  }
}

/* If the screen size is 600px wide or less, set the container of <div> height to 400px */
@media screen and (max-width: 600px) {
  div.container {
    min-height: 400px;
  }
}


@media screen and (max-width: 400px) {
  div.container { 
    background-image: url("https://github.com/KirsiTikkanen/ktportfolio2021/blob/main/assets/images/frontpage-image-500px.jpg?raw=true");
  }
}