
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(245, 235, 245);
}

p {
  font-size: 12pt;
  text-align: center;
  align-content: center;
  color: #612683;
  max-width: 500px;
  display: inline-flex;
  }

footer
{
color: #612683;
text-align: center;
font-family:'Source Sans Pro', sans-serif;
padding: 20px;
}

li {
  font-size: 12pt;
  text-align: center;
  color: #612683;
  list-style: none;
  margin: 15px;
}

article {
  margin-bottom: 0px;
  margin-top: 0px;
}

.white-h2{
  color: #FFFFFF;
}

.white-p {
color: #FFFFFF;
}

h1 {
 font-size: 55pt;
 letter-spacing:4px;
 text-align: center;
 margin-left: 20px;
 margin-right: 20px;
 margin-bottom:-4px;
}

h2
{
 font-size: 30pt;
 letter-spacing:2px;
 margin-bottom:-4px;
 text-align: center;
 color: #612683;
}

.otsikko {
margin-top: 0px;
margin-bottom: 20px;
}

.container {
  background-image: url('/assets/images/frontpage-image-mountain-ver2.jpg');
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
  min-height: 800px;
  padding: 0px; 
  margin-top: 0px;
  max-width: 100%;
  height: auto;
}

.text-on-image{
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.button1 {
display:inline-block;
border: 2px solid #FFFFFF;
text-decoration:none;
padding: 4px 24px;
margin: 4px 2px;
color:#FFFFFF;

font-family:'Source Sans Pro',sans-serif;
font-size:12pt;
letter-spacing:1px;
text-decoration: none;
text-align:center;
margin-top: 20px;
}

.button1:hover {
color:#612683;
background-color:#FFFFFF;
  }
  
.button2 {
display:inline-block;
border: 2px solid #612683;
text-decoration:none;
padding: 4px 24px;
margin: 4px 2px;
color:612683;
font-family:'Source Sans Pro',sans-serif;
font-size:12pt;
letter-spacing:1px;
text-decoration: none;
text-align:center;
margin-top: 20px;
}

.button2:hover {
color:#FFFFFF;
background-color:#612683;
}

#p-text-wrap {
margin-bottom: 70px;
margin-top: 70px;
text-align: center;
}


#box-text-wrap {
padding-top: 20px;
padding-bottom: 50px;
margin-bottom: 50px;
margin-top: 50px;
text-align: center;
background-color: #612683;
color: rgb(242, 242, 248);
}